{% extends 'base.html' %}

{% load static %}
{% block content %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static './css/login_signup.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/login_signup.js' %}" defer></script>
{% endblock %}


<br/>
<div class="logo-container">
	<img class="logo" src="https://i.postimg.cc/6pFDPpVy/image-Photo-Room-png-Photo-Room.png">
</div>

<div class="container" id="container">
	
	<div class="form-container sign-up-container">
		<form method="POST" action="{% url 'register' %}" name="signup">
			<h1>Create Account</h1>
			{% csrf_token %}

			<span>or use your email for registration</span>
			<input type="text" name="company_name"placeholder="Company Name" />
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="POST" action="{% url 'login' %}" name="login">
			<h1>Sign in</h1>
            {% csrf_token %}

			<span>or use your account</span>
			<input type="email"name="email" placeholder="Email" />
			<input type="password"name="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Log In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>Unleash the power of our football highlights API, log in now!</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Join SoccerGlance</h1>
				<p>Join and access our cutting-edge highlights generator API!</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
	{% if error_message %}
	<p class="error-message">{{ error_message }}</p>
	{% endif %}


</div>
{% endblock %}

